@import "~@angular/material/theming";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1448px;

    .mat-card {
      flex: 0 1 208px;
      height: 356px;
      margin: 24px;
      background-color: mat-color(mat-palette($mat-grey, 200));

      ::ng-deep div.mat-card-header-text {
        margin: 0;

        .mat-card-title {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 208px;
        }
      }

      img {
        height: 180px;
      }

      .mat-card-content {
        height: 68px;

        p {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }

      .mat-card-actions {
        position: relative;
        bottom: 0;
      }
    }

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  .mat-progress-bar {
    border-radius: 0 0 4px 4px;
  }
}
