@import "~@angular/material/theming";

:host {
  display: flex;
  flex-direction: column;
  min-width: 312px;
  min-height: 100%;
  background-color: mat-color(mat-palette($mat-grey, 50));

  header {
    display: flex;
    flex-basis: 10%;
    flex-shrink: 0;
    align-items: center;
    background-color: mat-color(mat-palette($mat-indigo, 500));
    border-radius: 4px 4px 0 0;
    color: #ffffff;
    padding: 0 24px;
    margin: 24px 24px 0;

    h1 {
      margin-left: auto;
      margin-right: auto;
    }

    nav {
      height: 24px;

      a {
        text-decoration: none;
        color: #ffffff;

        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  app-products {
    flex-basis: 90%;
  }
}
